.mealContainer{
    height: 500px;
    width: 500px;
    border: 2px solid black;
    
}
.mealDetails, .h2customerCharges, .h2myEarnings{
    padding-left: 30px;
}


form{
    text-align: left;
}
.input{
    display: inline-block;
    margin-bottom: 10px;
    
}
.labeli{
    width: 9em;
    text-align: right;
}

.mealBtns{
    padding-left: 40px;
    margin-left: 100px;
    margin-right: 0;
    padding-right: 0;
    margin-top: 150px;
}

button{
    width: 100px;
    padding: 5px;
    font-size: 20px;
    box-shadow: 2px 5px black;
}

.chargesContainer{
    height: 250px;
    width: 500px;
    border: 2px solid black;
    
}

.earingsContainer{
    height: 250px;
    width: 500px;
    border: 2px solid black;
    
}

.js-subtotal, .js-tip, .total, .js-tip-total, .js-meal-count, .js-average-tip{
    padding-left: 20px;
}
.hr12{
    width: 35%;
    margin-left: 10px;
}